body {
  height: 100%;
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
  background-size: cover;
  font-family: "Poppins";
}

/* Responsive nav bar with js */

.navcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

span.nav-toggle {
  font-size: 30px;
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
}

ul {
  display: none;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
}

ul li {
  list-style-type: none;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
}

ul li:first-child {
  margin-top: 0;
}

ul li:hover {
  opacity: 0.5;
}

.active {
  display: flex;
}

/* media query response layout below */
@media screen and (min-width: 800px) {

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0px 20px 70px;

  }

  ul li {
    margin: 0 70px 0 0;
    border-bottom-style: none;
    padding: 0;
  }

  span.nav-toggle {
    display: none;
  }
}

a:link {
  text-decoration: none;
  font-size: 1rem;

}

a:hover {
  opacity: 0.5;
}

.responsive {
  width: 100%;
  height: auto;
}

/*Hero image*/

.herocontainer {
  position: relative;
  text-align: center;
  z-index: -1;
}

.h1style {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Henny Penny";
  color: #85FFBD;
  font-size: 3.5rem;
  white-space: nowrap;
  font-weight: normal;
  line-height: 3.5rem;
  text-shadow: 2px 2px #0a0909;

}

@media screen and (max-width: 700px) {

  .h1style {
    font-size: 32px;
    white-space: nowrap;
    text-align: center;
  }
}

.h2style_index {
  font-family: "Henny Penny";
  font-size: 27.2px;
  padding-left: 20px;
  color: #0000ff80;
  text-shadow: 0.5px 0.5px #0a0909;
}

.paragraph {
  font-family: "Poppins";
  color: #0000ff80;
  font-size: 1.2rem;
  padding-left: 20px;

}

/* SHLH_buttons */
.buttonContainer_1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  justify-content: space-evenly;
}

/* index page container */
.indexcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;
}

/* index box */
.indexitem {
  border-radius: 10px;
  border: none;
  box-shadow: 3px 3px 10px 0 #000000;
  color: rgba(20, 17, 17, 0.806);
  font-size: 1rem;
  font-family: "Poppins";
  text-align: left;
  padding: 15px;
  height: auto;
  margin: 15px;

}

/* blue buttons on index page */
.btn {
  border-radius: 10px;
  border: none;
  box-shadow: 3px 3px 10px 0 #000000;
  color: rgba(20, 17, 17, 0.806);
  font-size: 1.2rem;
  font-family: "Poppins";
  text-align: center;
  margin: 15px;
  padding: 20px;
  height: auto;
}

.btn:hover {
  opacity: 0.6;
  transition: 0.3s;
  cursor: pointer;
}

/* sl and lh breed buttons */
.button:hover {
  opacity: 0.6;
  transition: 0.3s;
  cursor: pointer;
}

.button {
  border-radius: 50%;
  border: none;
  box-shadow: 3px 3px 10px 0 #000000;
  color: rgba(20, 17, 17, 0.806);
  font-size: 1.2rem;
  font-family: "Poppins";
  text-align: center;
  width: 160px;
  height: 160px;
  margin-top: 30px;
}


/* Button output container */
.breedStyle {
  display: flex;
  flex-direction: row;
  height: auto;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
  font-size: 1rem;
}

/* Breed output images */
.thumbnail {
  margin: 10px;
  border-radius: 10%;
}


/* image gallery */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

/* images in image gallery */
.item {
  box-shadow: 3px 3px 10px 0 #000000;
}

.footer_style {
  color: rgba(20, 17, 17, 0.806);
  font-weight: 700;
  padding: 15px;
  background-color: #5cde5c80;
  margin-top: 10px;
  text-align: center;
  border-radius: 10px;
}