@charset "utf-8";
/* CSS Document  for 'books' */
.banner {
  display: flex;
  flex-wrap: nowrap;
  /*flex-wrap: wrap;*/
  background-color: #0F9;
}
.header {
  display: flex;
  flex-wrap: nowrap;
  /*flex-wrap: wrap;*/
  background-color: #F63;
}
.nav {
  display: flex;
  flex-wrap: nowrap;
  height: 100px;
  /*flex-wrap: wrap;*/
  background-color: DodgerBlue;
}
.footer {
  display: flex;
  flex-wrap: nowrap;
  /*flex-wrap: wrap;*/
  background-color: yellow;
}
.flexbox-container{
	display: flex;
	/* justify-content: center;*/
	justify-content: space-between;
	background-color: black;
	}
.flexbox-item{
	display: flex;
	width: 600px;
	margin: 20px;
    border: 10px sold #333;
    background-color: #dfdfdf;
    }
.flexbox-item-1{
	display: flex;
	flex-direction: column;
	min-height: 600px;
	background-color: red;
	}
.flexbox-item-2{
	display: flex;
	flex-direction: column;
	min-height: 600px;
	background-color: green;
	}
.flexbox-item-3{
	display: flex;
	flex-direction: column;
	min-height: 600px;
	background-color: yellow;
	}
.flexbox-item-4{
	display: flex;
	flex-direction: column;
	min-height: 600px;
	background-color: teal;
	}
.responsive{	
	width: 100%;
	height: auto;
}

